.Content{
    margin-top: 75px;
    margin-bottom: 15px;

    padding-left: 10%;
    padding-right: 10%;
}

@media(max-width: 800px){
    .Content{
        padding-left: 0;
        padding-right: 0;    
    }
}